html,
button,
input,
select,
textarea {
  background: #333;
  color: #fff;
}

html {
  font-size: 1em;
  line-height: 1.4;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}

body {

}

.container,
.buttons {
  width: 920px;
  margin: 20px auto;
}
.nav {
  float: left;
}
.nav-link {
  display: block;
  width: 106px;
  padding: 0 10px 10px 0;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nav-link:hover {
  opacity: 0.9;
}
.nav-link.active {
  opacity: 1;
}
.nav img {
  width: 100%;
  height: auto;
}
.content {
  position: relative;
  width: 800px;
  height: 542px;
  float: right;
}
.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 0;
}
.image-container.active {
  z-index: 10;
}
.image-container img,
.image-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  text-transform: uppercase;
}
.image-section-matrix {
  position: absolute;
  width: 500px;
  height: 342px;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.4;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  transform: translate(150px, 100px);
  -webkit-transform: translate(150px, 100px);
  -moz-transform: translate(150px, 100px);
  -o-transform: translate(150px, 100px); 
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}
.handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ef7575;
  border-radius: 5px;
  cursor: move;
}
.handle:hover {
  background: #f2aeae;
}
.handle.tl {
  top: 95px;
  left: 145px;
}
.handle.tr {
  top: 95px;
  right: 145px;
}
.handle.bl {
  bottom: 95px;
  left: 145px;
}
.handle.br {
  bottom: 95px;
  right: 145px;
}

.buttons {
  text-align: right;
}
.buttons button {
  display: inline-block;
  background: #d14747;
  border: none;
  margin-left: 10px;
  font-size: 1.4em;
  padding: 6px 12px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.buttons button:hover {
  background: #ef7575;
}

.invisible {
  opacity: 0;
}
.hide {
  display: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@media only screen and (max-width: 896px) {
  
}